<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--极品默认等级-->
    <add key="JPLevel" value="15" />
    <!--极品默认追加-->
    <add key="JPExt" value="4" />
    <!--极品默认技能-->
    <add key="JPJN" value="true" />
    <!--极品默认幸运-->
    <add key="JPXY" value="true" />
    <!--极品默认卓越1-->
    <add key="JPZY1" value="true" />
    <!--极品默认卓越2-->
    <add key="JPZY2" value="true" />
    <!--极品默认卓越3-->
    <add key="JPZY3" value="true" />
    <!--极品默认卓越4-->
    <add key="JPZY4" value="true" />
    <!--极品默认卓越5-->
    <add key="JPZY5" value="true" />
    <!--极品默认卓越6-->
    <add key="JPZY6" value="true" />
    <!--道具默认等级-->
    <add key="DJLevel" value="0" />
    <!--道具默认追加-->
    <add key="DJExt" value="0" />
    <!--道具默认技能-->
    <add key="DJJN" value="false" />
    <!--道具默认幸运-->
    <add key="DJXY" value="false" />
    <!--道具默认卓越1-->
    <add key="DJZY1" value="false" />
    <!--道具默认卓越2-->
    <add key="DJZY2" value="false" />
    <!--道具默认卓越3-->
    <add key="DJZY3" value="false" />
    <!--道具默认卓越4-->
    <add key="DJZY4" value="false" />
    <!--道具默认卓越5-->
    <add key="DJZY5" value="false" />
    <!--道具默认卓越6-->
    <add key="DJZY6" value="false" />
    <!--自定义极品默认等级-->
    <add key="CJPLevel" value="15" />
    <!--自定义极品默认追加-->
    <add key="CJPExt" value="4" />
    <!--自定义极品默认套装值-->
    <add key="CJPSetVal" value="4" />
    <!--自定义极品默认幸运-->
    <add key="CJPXY" value="true" />
    <!--自定义极品默认卓越1-->
    <add key="CJPZY1" value="true" />
    <!--自定义极品默认卓越2-->
    <add key="CJPZY2" value="true" />
    <!--自定义极品默认卓越3-->
    <add key="CJPZY3" value="true" />
    <!--自定义极品默认卓越4-->
    <add key="CJPZY4" value="true" />
    <!--自定义极品默认卓越5-->
    <add key="CJPZY5" value="true" />
    <!--自定义极品默认卓越6-->
    <add key="CJPZY6" value="true" />
    <!--自定义道具默认等级-->
    <add key="CDJLevel" value="0" />
    <!--自定义道具默认追加-->
    <add key="CDJExt" value="0" />
    <!--自定义道具默认套装值-->
    <add key="CDJSetVal" value="0" />
    <!--自定义道具默认幸运-->
    <add key="CDJXY" value="false" />
    <!--自定义道具默认卓越1-->
    <add key="CDJZY1" value="false" />
    <!--自定义道具默认卓越2-->
    <add key="CDJZY2" value="false" />
    <!--自定义道具默认卓越3-->
    <add key="CDJZY3" value="false" />
    <!--自定义道具默认卓越4-->
    <add key="CDJZY4" value="false" />
    <!--自定义道具默认卓越5-->
    <add key="CDJZY5" value="false" />
    <!--自定义道具默认卓越6-->
    <add key="CDJZY6" value="false" />
    <!--帐号字段名-->
    <add key="AccFieldNames" value="帐号|邮箱|问题|答案|积分" />
    <!--帐号字段值-->
    <add key="AccFieldValues" value="info.memb___id|mail_addr|fpas_ques|fpas_answ|jf" />
    <!--角色字段名-->
    <add key="ChaFieldNames" value="角色名|等级|升级剩点|职业|经验|力量|敏捷|智力|体力|总点数|金钱|PK次数" />
    <!--角色字段值-->
    <add key="ChaFieldValues" value="Name|cLevel|LevelUpPoint|Class|Experience|Strength|Dexterity|Energy|Vitality|(0+Strength+Dexterity+Energy+Vitality)|Money|PkCount" />
    <!--分区标识字段名-->
    <add key="ServerCode" value="" />
    <!--积分字段名-->
    <add key="JF" value=",jf" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>